@model GenerateGenericUserInterfaceModel
@{
    Layout = ChemistrySettings.LayoutPath;
    ViewBag.Title = "Создать эксперимент";
}

<div class="form-group m-form__group m--margin-top-10">
    <div class="alert m-alert m-alert--default" role="alert">
        Создание эксперимента к задаче
    </div>
</div>  

@await Html.RenderGenericUserInterfaceAsync(Model)

<div class="m-portlet__foot m-portlet__foot--fit">
    <div class="m-form__actions m-form__actions">
        <div class="row">
            <div class="col-lg-9">
                <button type="reset" class="btn btn-brand form-action-btn btn-exp-create">Создать</button>
                <button type="reset" onclick="location.href='/Chemistry/Experiments/Index'" class="btn btn-secondary">Отмена</button>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/js/Experiments.min.js"></script>
    <script src="~/src/Areas/Chemistry/Experiments/CreateExperiment.js"></script>
}