@model GenerateGenericUserInterfaceModel
@using FocLab.Logic
@{
    Layout = ChemistrySettings.LayoutPath;
    ViewBag.Title = "Создание реагента";
}

<div class="form-group m-form__group m--margin-top-10">
    <div class="alert m-alert m-alert--default" role="alert">
        Создание нового реагента
    </div>
</div>

<div class="m-portlet__foot m-portlet__foot--fit">
    <div class="m-form__actions m-form__actions">
        <div class="row">
            <div class="col-lg-9">
                <button type="reset" class="btn btn-brand form-action-btn btn-reagent-create">Создать</button>
                <button type="reset" onclick="location.href='/Chemistry/Reagents/Index'" class="btn btn-secondary">Отмена</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>

        $(".btn-reagent-create").on("click", () => {

            const data = TryForm.GetDataForFormByModelPrefix("@Model.Interface.Prefix");

            Requester.SendPostRequestWithAnimation("/Api/Chemistry/Reagents/CreateOrUpdate", data, x => {
                if (x.IsSucceeded) {
                    setTimeout(() => location.href = '/Chemistry/Reagents/Index', 1500);
                }
            });
        })

    </script>
}