@model ApplicationUserDto
@{
    Layout = ChemistrySettings.LayoutPath;
}

<div class="row">
    <div class="col-md-12">
        <a href="/Admin/Users" class="btn btn-primary">
            <i class="fa fa-list-ol"></i>
            Список пользователей
        </a>
    </div>
</div>


<div style="height:20px">

</div>

<h2> Изменение пароля для пользователя @Model.Email</h2>

<div style="height:20px">

</div>

<div class="form-group m-form__group">
    <label for="Password">Новый пароль</label>
    <input type="text" class="form-control m-input" id="Password" name="Password" aria-describedby="emailHelp" placeholder="">
</div>

<button type="button" onclick="ChangePassword()" class="btn btn-success btn-block">Изменить пароль</button>


@section Scripts{
    <script>
        function ChangePassword() {
            var data = { Password: document.getElementsByName("Password")[0].value, Email: "@Model.Email" };

            Requester.SendPostRequestWithAnimation("/Api/User/ChangePassword", data, x => {
                if (x.IsSucceeded) {
                    setTimeout(function () { location.href = "/Admin/Users" }, 1000);
                }
            });
        }
    </script>
}