@using FocLab.App.Logic.Settings.Statics
@using FocLab.App.Logic.Extensions
@model GetListResult<ApplicationUserDto>
@{
    Layout = null;

    string myId = User.Identity.GetUserId();
}

@foreach (var user in Model.List.Where(x => x.Id != myId))
{

    <tr scope="row">

        <td>
            @Html.DisplayFor(modelItem => user.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => user.Email)
        </td>

        <td>
            @Html.DisplayFor(modelItem => user.CreatedOn)
        </td>

        <td>
            <div class="row">
                <div class="col-md-12">
                    <a href="/Admin/Users/Edit/@user.Id" class="btn m--btn--pill active btn-warning btn-block">
                        <i class="fas fa-edit"></i>
                        Редактировать
                    </a>

                    <a href="/Admin/Users/Details/@user.Id" style="margin-top:10px" class="btn btn-primary btn-block">
                        <i class="far fa-eye"></i>
                        Подробнее
                    </a>

                    <a onclick="$('#anotherActions_@user.Id').fadeToggle()" style="margin-top:10px" class="btn btn-primary btn-block" href="#">
                        Другие действия
                    </a>

                    <div class="anotherActions" id="anotherActions_@user.Id">

                        <a href="/Admin/UserNotifications/CreateForUser/@user.Id" style="margin-top:10px" class="btn btn-primary btn-block">
                            <i class="fas fa-plus-square"></i>
                            Создать уведомление
                        </a>


                    </div>
                </div>
            </div>
        </td>
    </tr>
}