--Удаление старых данных в таблицах
DELETE FROM [aspnet-FocLab-53bc9b9d-9d6a-45d4-8429-2a2761773502].[dbo].[ChemistryTaskDbFiles]
DELETE FROM [aspnet-FocLab-53bc9b9d-9d6a-45d4-8429-2a2761773502].[dbo].[ChemistryTaskReagents]
DELETE FROM [aspnet-FocLab-53bc9b9d-9d6a-45d4-8429-2a2761773502].[dbo].[ChemistryTaskExperiments]
DELETE FROM [aspnet-FocLab-53bc9b9d-9d6a-45d4-8429-2a2761773502].[dbo].[ChemistryTaskExperimentFiles]

DELETE FROM [aspnet-FocLab-53bc9b9d-9d6a-45d4-8429-2a2761773502].[dbo].[ChemistryTasks]

DELETE FROM [aspnet-FocLab-53bc9b9d-9d6a-45d4-8429-2a2761773502].[dbo].[ChemistryMethodFiles]
DELETE FROM [aspnet-FocLab-53bc9b9d-9d6a-45d4-8429-2a2761773502].[dbo].[ChemistryReagents] --7



--1 Импортирование [ChemistryMethodFiles]
INSERT INTO [aspnet-FocLab-53bc9b9d-9d6a-45d4-8429-2a2761773502].[dbo].[ChemistryMethodFiles]
 ([Id]
      ,[Name]
      ,[FileId]
      ,[CreationDate])
SELECT [Id]
      ,[Name]
      ,[FileId]
      ,[CreationDate] 
FROM [1gb_custom-chemistry].[dbo].[ChemistryMethodFiles]

--2 Импортироование [ChemistryTasks]

INSERT INTO [aspnet-FocLab-53bc9b9d-9d6a-45d4-8429-2a2761773502].[dbo].[ChemistryTasks]
 ([Id]
      ,[Title]
      ,[DeadLineDate]
      ,[PerformedDate]
      ,[CreationDate]
      ,[AdminUserId]
      ,[PerformerUserId]
      ,[MethodFileId]
      ,[AdminQuantity]
      ,[AdminQuality]
      ,[PerformerQuantity]
      ,[PerformerQuality]
      ,[PerformerText]
      ,[SubstanceCounterJSON]
      ,[Deleted])
SELECT [Id]
      ,[Title]
      ,[DeadLineDate]
      ,[PerformedDate]
      ,[CreationDate]
      ,[AdminUserId]
      ,[PerformerUserId]
      ,[MethodFileId]
      ,[AdminQuantity]
      ,[AdminQuality]
      ,[PerformerQuantity]
      ,[PerformerQuality]
      ,[PerformerText]
      ,[SubstanceCounterJSON]
      ,[Deleted] 
FROM [1gb_custom-chemistry].[dbo].[ChemistryTasks]

--3 Импортирование [ChemistryTaskDbFiles]
INSERT INTO [aspnet-FocLab-53bc9b9d-9d6a-45d4-8429-2a2761773502].[dbo].[ChemistryTaskDbFiles]
 ([ChemistryTaskId]
      ,[FileId]
      ,[Type])
SELECT [ChemistryTaskId]
      ,[FileId]
      ,[Type] 
FROM [1gb_custom-chemistry].[dbo].[ChemistryTaskDbFiles]

--4 Импортирование [ChemistryReagents]
INSERT INTO [aspnet-FocLab-53bc9b9d-9d6a-45d4-8429-2a2761773502].[dbo].[ChemistryReagents]
 ([Id]
      ,[Name])
SELECT [Id]
      ,[Name]
FROM [1gb_custom-chemistry].[dbo].[ChemistryReagents]

--5 Импортирование [ChemistryTaskReagents]
INSERT INTO [aspnet-FocLab-53bc9b9d-9d6a-45d4-8429-2a2761773502].[dbo].[ChemistryTaskReagents]
 ([TaskId]
      ,[ReagentId]
      ,[TakenQuantity]
      ,[ReturnedQuantity])
SELECT [TaskId]
      ,[ReagentId]
      ,[TakenQuantity]
      ,[ReturnedQuantity]
FROM [1gb_custom-chemistry].[dbo].[ChemistryTaskReagents]

--6 Импортирование [ChemistryTaskReagents]
INSERT INTO [aspnet-FocLab-53bc9b9d-9d6a-45d4-8429-2a2761773502].[dbo].[ChemistryTaskExperiments]
 ([Id]
      ,[Title]
      ,[ChemistryTaskId]
      ,[PerformerId]
      ,[PerformedDate]
      ,[PerformerText]
      ,[CreationDate]
      ,[Deleted]
      ,[SubstanceCounterJson])
SELECT [Id]
      ,[Title]
      ,[ChemistryTaskId]
      ,[PerformerId]
      ,[PerformedDate]
      ,[PerformerText]
      ,[CreationDate]
      ,[Deleted]
      ,[SubstanceCounterJson]
FROM [1gb_custom-chemistry].[dbo].[ChemistryTaskExperiments]

--7 Импортирование [ChemistryTaskExperimentFiles]
INSERT INTO [aspnet-FocLab-53bc9b9d-9d6a-45d4-8429-2a2761773502].[dbo].[ChemistryTaskExperimentFiles]
 ([ChemistryTaskExperimentId]
      ,[FileId]
      ,[Type])
SELECT [ChemistryTaskExperimentId]
      ,[FileId]
      ,[Type]
FROM [1gb_custom-chemistry].[dbo].[ChemistryTaskExperimentFiles]
