
@{
    Layout = null;
}

<style>
    select2 select2-container select2-container--default {
        width: 230px;
    }

    .label-in-modal {
        font-weight: 600;
        font-size: large;
    }
</style>

<div class="modal fade show" id="dayTaskModal" tabindex="-1" role="dialog" style="display: none;">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 style="padding-left: 15px;" class="modal-title" id="dayTaskModalTitle">Modal title</h5>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">X</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="row m--margin-top-10">

                    <div class="col-12">

                        <input type="hidden" name="task.Id" />

                        <div class="form-group m-form__group" data-name="task.TaskTitle">
                            <h6>Название</h6>
                            <div class="form-group m-form__group">
                                <input id="TaskTitle" type="text" name="task.TaskTitle" class="form-control" value="">
                            </div>
                        </div>

                        <div class="form-group m-form__group" data-name="task.TaskText">
                            <h6>Описание</h6>
                            <div class="form-group m-form__group">
                                <textarea id="TaskText" type="text" name="task.TaskText" class="form-control" value=""> </textarea>
                            </div>
                        </div>

                        <div class="form-group m-form__group" data-name="task.TaskTarget">
                            <h6>Цель</h6>
                            <div class="form-group m-form__group">
                                <textarea id="TaskText" type="text" name="task.TaskTarget" class="form-control" value=""> </textarea>
                            </div>
                        </div>


                        <div class="form-group m-form__group" data-name="task.TaskReview">
                            <h6>Отчёт</h6>
                            <div class="form-group m-form__group">
                                <textarea id="TaskText" type="text" name="task.TaskReview" class="form-control" value=""> </textarea>
                            </div>
                        </div>


                        <div class="form-group m-form__group" data-name="task.TaskComment">
                            <h6>Комментарий</h6>
                            <div class="form-group m-form__group">
                                <textarea id="TaskText" type="text" name="task.TaskComment" class="form-control" value=""> </textarea>
                            </div>
                        </div>

                        <div class="form-group m-form__group" data-name="task.TaskDate">
                            <h6>Дата выполнения</h6>
                            <div class="form-group m-form__group">
                                <input id="TaskDate" type="text" name="task.TaskDate" class="form-control" value="">
                            </div>
                        </div>

                        <div class="form-group m-form__group" data-name="task.AssigneeUserId">
                            <h6>Исполнитель</h6>
                            <div class="form-group m-form__group">
                                <select id="usersSelect1" class="usersSelect" style="width:100%" name="task.AssigneeUserId"></select>
                            </div>
                        </div>

                        <div class="form-group m-form__group">
                            <h6>Автор</h6>
                            <div class="d-flex align-items-center" id="Author"></div>
                        </div>
                    </div>

                    
                    <div class="form-group m-form__group col-md-12" style="display:none">
                        <a data-toggle="collapse" href="#CommentsBody" role="button" aria-expanded="false" aria-controls="collapseExample">
                            <h4>Блок комментариев</h4>
                        </a>


                        <div id="CommentsBody" class="collapse">

                            <h4>Комментарии</h4>

                            <div class="panel">
                                <div class="panel-body">
                                    <input name="DayTaskId" hidden />
                                    <textarea class="form-control" name="Comment" rows="2" placeholder="Добавьте Ваш комментарий"></textarea>
                                    <div class="mt-2 clearfix">
                                        <button class="btn btn-sm btn-primary pull-right tms-add-comment-btn" type="submit">Добавить</button>
                                    </div>
                                </div>
                            </div>
                            <div class="panel">
                                <div id="Comments" class="panel-body">

                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary tms-update-task-btn">Обновить</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade show" id="createDayTaskModal" tabindex="-1" role="dialog" style="display: none;">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 style="padding-left: 15px;" class="modal-title" id="dayTaskModalTitle">Создать задание</h5>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">X</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group m-form__group row m--margin-top-10">
                    <div class="col-lg-12">

                        <div class="form-group m-form__group">
                            <div class="form-group m-form__group">
                                <label>Название</label>
                                <input type="text" name="create.TaskTitle" class="form-control" value="">
                            </div>
                        </div>

                        <div class="form-group m-form__group">
                            <div class="form-group m-form__group">
                                <label>Описание</label>
                                <textarea type="text" name="create.TaskText" class="form-control" value=""> </textarea>
                            </div>
                        </div>

                        <div class="form-group m-form__group">
                            <h6>Исполнитель</h6>
                            <div class="form-group m-form__group">
                                <select id="usersSelect2" class="usersSelect" style="width:100%" name="create.AssigneeUserId"></select>
                            </div>
                        </div>

                        <div class="form-group m-form__group">
                            <label>Дата выполнения</label>
                            <div class="form-group m-form__group">
                                <input id="TaskDate1" type="text" name="create.TaskDate" class="form-control" value="">
                            </div>
                        </div>


                        <input type="hidden" name="create.Id" value="" />
                        <input type="hidden" name="create.TaskTarget" value="" />
                        <input type="hidden" name="create.TaskReview" value="" />
                        <input type="hidden" name="create.TaskComment" value="" />

                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary tms-create-task-btn">Создать</button>
            </div>
        </div>
    </div>
</div>
