@model FocLab.Logic.Models.Methods.ChemistryMethodFileModel
@{
    Layout = ChemistrySettings.LayoutPath;
    ViewBag.Title = "Редактирование метода";
}


<div class="m-portlet__body">

    <div class="row">
        <div class="col-md-12">
            <a href="/Chemistry/Chemistry/Tasks/Index" class="btn btn-primary">
                Задания
            </a>
        </div>
    </div>

    <div class="row">
        <div class="col-xl-12">
            <div class="m-form__section m-form__section--first">
                <div class="form-group m-form__group m--margin-top-10">
                    <div class="alert m-alert m-alert--default" role="alert">
                        Вы редактируете метод решения химической задачи
                    </div>
                </div>

                @Html.Hidden("Method.Id", Model.Id)

                <div class="form-group m-form__group">
                    <label for="Name">Название</label>
                    <input type="text" class="form-control m-input" value="@Model.Name" autocomplete="false" name="Method.Name" placeholder="Название">
                </div>


                <div class="m-portlet__foot m-portlet__foot--fit">
                    <div class="m-form__actions m-form__actions">
                        <div class="row">
                            <div class="col-lg-9">
                                <button type="reset" class="btn btn-brand action-btn">Изменить</button>
                                <button type="reset" onclick="location.href='/Chemistry/Methods/Index'" class="btn btn-secondary">Отмена</button>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>

@section Scripts{ 
    <script>
        $(".action-btn").on('click', () => UpdateMethod());

        function UpdateMethod() {
            var data = {
                Id: "",
                Name: ""
            };

            data = FormDataHelper.CollectDataByPrefix(data, "Method.");

            Requester.SendPostRequestWithAnimation("/Api/Chemistry/Methods/Update", data, x => {

                if (x.IsSucceeded) {
                    setTimeout(() => location.href = '/Chemistry/Methods/Index', 1500);
                }
            })
        }
    </script>
}
