@using FocLab.Logic.Models.Users
@{
    ViewBag.Title = "Создание пользователя";

    Layout = ChemistrySettings.LayoutPath;

    var list = ViewBag.Rights as List<MySelectListItem>;

    var modelPrefix = "create.";

    var builder = new GenericUserInterfaceModelBuilder<CreateUserModel>(modelPrefix);

    builder
        .HiddenFor(x => x.ConfirmPassword)
        .HiddenFor(x => x.Rights);
}


<div class="row">
    <div class="col-md-12">
        <a href="/Admin/Users" class="btn btn-primary">
            <i class="fa fa-list-ol"></i>
            Список пользователей
        </a>
    </div>
</div>


<div style="height:20px">

</div>


<div class="form-group m-form__group m--margin-top-10">
    <div class="alert m-alert m-alert--default" role="alert">
        Создание пользователя
    </div>
</div>

@await Html.RenderGenericUserInterfaceAsync(builder.Result)

<div class="m-portlet__foot m-portlet__foot--fit">
    <div class="m-form__actions">
        <button type="reset" class="btn btn-primary action-btn">Создать</button>
        <button onclick="location.href='/Admin/Users/Index'" class="btn btn-secondary">Отмена</button>
    </div>
</div>

@section Scripts{

    <script src="~/src/Areas/Admin/UserCreatePage.js"></script>
}