@using System.Globalization
@model FocLab.Logic.EntityDtos.Users.Default.ApplicationUserDto
@{
    ViewData["Title"] = "Редактирование пользователя";

    Layout = ChemistrySettings.LayoutPath;

    var birthDate = Model.BirthDate.HasValue ? Model.BirthDate.Value.ToString("dd.MM.yyyy", CultureInfo.InvariantCulture) : "";

    var interfaceModel = ViewData["interfaceModel"] as GenerateGenericUserInterfaceModel;
}


<div class="m-portlet__head">
    <div class="m-portlet__head-caption">
        <div class="m-portlet__head-title">
            <span class="m-portlet__head-icon m--hide">
                <i class="fas fa-cogs"></i>
            </span>
            <h3 class="m-portlet__head-text">
                Вы редактируете пользователя @Model.Email
            </h3>
        </div>
    </div>
</div>

<div>
    <div class="form-group m-form__group m--margin-top-10">
        <div class="alert m-alert m-alert--default" role="alert">
            После того как вы нажмете кнопку сохранить, данные пользователя будут обновлены. Данное действие необратимо.
        </div>
    </div>

    @await Html.RenderGenericUserInterfaceAsync(interfaceModel)

    <div class="m-portlet__foot m-portlet__foot--fit">
        <div class="m-form__actions">
            <button type="reset" class="btn btn-primary action-btn">Сохранить</button>
            <button onclick="location.href='/Admin/Users/Index'" class="btn btn-secondary">Отмена</button>
        </div>
    </div>
</div>

<style>
    .img-min-80 {
        max-height: 80px;
    }

    .img-min-50 {
        max-height: 50px;
    }
</style>

@section Scripts{
    <script>
        $(".action-btn").on("click", () => {
            const data = TryForm.GetDataForFormByModelPrefix("@interfaceModel.Interface.Prefix");;

            Requester.SendPostRequestWithAnimation("/Api/User/Edit", data, resp => {
                if (resp.IsSucceeded) {
                    setTimeout(() => { location.href = '/Admin/Users/Index' }, 1000)
                }
            });
        });
    </script>
}