@using Croco.Core.Utils
@model FocLab.Logic.Models.Chemistry_SubstanceCounter
@{
    Layout = null;

    var prefix = "";

    var substanceObjectJSON = Model != null? Tool.JsonConverter.Serialize(Model) : "null";

    var tbodySubstancesId = $"{prefix}.tbodySubstances";
}

<h2>
    <strong>
        Вещества учавствующие в реакции
    </strong>
    
    <span class="m-badge m-badge--success">
        @(Model.Substances.Count+1)
    </span>
</h2>

<div class="table-responsive">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>
                    <strong>Название вещества</strong>
                    
                </th>

                <th>
                    <strong>Масса вещества (г)</strong>
                    
                </th>

                <th>
                    <strong>Молярная масса (г / моль)</strong>
                    
                </th>

                <th>
                    <strong>Коэфициент</strong>
                    
                </th>

                <th>
                    <strong>Действия</strong>
                    
                </th>
            </tr>
        </thead>

        <tbody id="@tbodySubstancesId">


        </tbody>

        <tr>
            <td colspan="5">
                <button class="btn btn-success btn-block" onclick="AddSubstance('@prefix')">
                    Добавить
                </button>
            </td>
        </tr>
    </table>
</div>






